//
//
//
li {
    list-style: none;
    font-family: "Supermercado One", cursive;
}

h1 {
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: bolder;
    animation-duration: 5s;
    animation-name: anim2;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

body {
    text-align: center;
    p,
    a,
    label,
    textarea,
    input {
        font-family: "Supermercado One", cursive;
        font-size: 22px;
        text-align: center;
        margin: auto;
    }
}

// LE HEADER //
nav {
    background-image: url("../img/slider/header.png");
    background-size: cover;
    background-position: right 35% top 30%;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0%;
    margin-bottom: 5%;
    ul {
        padding-left: 30%;
        display: flex;
        flex-direction: row;
        img {
            height: 60px;
            width: auto;
            margin-top: -23px;
        }
        li {
            padding-left: 15px;
            padding-right: 15px;
            a {
                font-size: 32px;
                text-decoration: none;
                color: #ffc900;
            }
        }
    }
}

//  //////////////    MAIN ////////////////////////////
//
//
//
//
//  //////////////    MAIN ////////////////////////////
// FOOTER //
footer {
    background-image: url(../img/loki-ConvertImage1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    img {
        width: 32px;
        height: auto;
    }
    h3 {
        font-family: "Lato", sans-serif;
        color: #193498;
    }
    .footer-device {
        img {
            padding: 15px 3px 0px 3px;
            width: 64px;
            height: auto;
        }
    }
    .footer-stream {
        li {
            padding-top: 10px;
            a {
                text-decoration: none;
                color: #193498;
                text-align: center;
            }
            a:hover {
                color: #ffc900;
            }
        }
    }
    .footer-contact {
        .footer-title {
            img {
                width: 64px;
                height: auto;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
        ul {
            padding-top: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                padding-left: 18px;
                padding-right: 18px;
                scale: 2;
            }
        }
    }
}

body {
    color: #fff;
    background: #171f30;
    line-height: 150%;
}

.wrapper svg {}

.wrap {
    min-height: 100vh;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .half {
        width: 50%;
        padding: 32px 0;
    }
}

.title {
    font-family: sans-serif;
    line-height: 24px;
    display: block;
    padding: 8px 0;
}

.readout {
    margin-top: 32px;
    line-height: 180%;
}

#values {
    font-family: monospace;
    line-height: 150%;
}

.link {
    margin-top: 16px;
    a {
        color: MediumSlateBlue;
    }
}

form {
    padding-top: 1%;
    margin: 10% auto auto auto;
    height: 600px;
    width: 800px;
    background-image: url("../img/st,small,507x507-pad,600x600,f8f8f8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    div {
        width: 30%;
        margin: auto;
        padding-top: 5%;
        label {
            text-align: center;
            margin-left: 25%;
        }
        input {
            width: 30%;
            width: 300px;
            margin: auto;
            text-align: center;
            opacity: 70%;
        }
        textarea {
            opacity: 70%;
            height: 200px;
            width: 300px;
        }
        label {
            color: #2666cf;
        }
        button {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            background-image: url("../img/ur_pin_large_front_square_600x600-removebg-preview.png");
            background-size: 130%;
            background-position: center;
            background-repeat: no-repeat;
            background-origin: border-box;
            margin-left: 20%;
            margin-top: -10%;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        button {
            display: block;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            background-image: url("../img/ur_pin_large_front_square_600x600-removebg-preview-modified.png");
            background-size: 130%;
            background-position: center;
            background-repeat: no-repeat;
            background-origin: border-box;
        }
        nav {
            background-color: white;
            padding-top: 5px;
            padding-bottom: 2px;
            margin-top: 0%;
            margin-bottom: 0%;
            ul {
                padding-left: 1%;
                display: flex;
                flex-direction: row;
                img {
                    height: 60px;
                    width: auto;
                    margin-top: -23px;
                }
                li {
                    font-size: 22px;
                    padding-left: 15px;
                    padding-right: 5px;
                    color: #bdbdd7;
                    a {
                        text-decoration: none;
                        color: #2666cf;
                    }
                }
            }
        }
    }
    footer {
        background-image: url(../img/loki-ConvertImage1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-clip: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}