//
//
//

li {
  list-style: none;
  font-family: "Supermercado One", cursive;
}

body {
  text-align: center;
  p,
  a {
    font-family: "Supermercado One", cursive;
    font-size: 22px;
  }
}

// LE HEADER //
nav {
  background-color: #bbbfca;
  padding-top: 5px;
  padding-bottom: 2px;

  ul {
    padding-left: 30%;
    display: flex;
    flex-direction: row;
    img {
      height: 60px;
      width: auto;
      margin-top: -23px;
    }
    li {
      font-size: 32px;
      padding-left: 15px;
      padding-right: 15px;
      a {
        text-decoration: none;
        color: #2666cf;
      }
    }
  }
}

//  //////////////    MAIN ////////////////////////////
//
//
//
//

//  //////////////    MAIN ////////////////////////////
// FOOTER //

footer {
  background-image: url(./img/loki-ConvertImage1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;

  img {
    width: 32px;
    height: auto;
  }

  h3 {
    font-family: "Lato", sans-serif;
    color: #193498;
  }
  .footer-device {
    img {
      padding: 15px 3px 0px 3px;
      width: 64px;
      height: auto;
    }
  }
  .footer-stream {
    li {
      padding-top: 10px;
      a {
        text-decoration: none;
        color: #193498;
        text-align: center;
      }
      a:hover {
        color: #ffc900;
      }
    }
  }
  .footer-contact {
    .footer-title {
      img {
        width: 64px;
        height: auto;
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    ul {
      padding-top: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        padding-left: 18px;
        padding-right: 18px;
        scale: 2;
      }
    }
  }
}
